.App {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  background-color: olive;
}
nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 750px;
  width: 20%;
  margin: 0 auto;
}
nav .button-wrapper {
  display: inherit;
  flex-direction: column;
}
nav .button-wrapper button {
  max-width: 150px;
  width: 90%;
}
nav .user-list {
  display: inherit;
  flex-direction: column;
}
nav .user-list button {
  max-width: 150px;
  width: 90%;
}
.post-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  max-width: 750px;
  width: 75%;
  margin-left: 25%;
}
